Repository mapaction/cod-ab-data-quality: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pymarkdown

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: poetry run ruff check
        args: [--select, I, --fix, --no-cache]
        language: system
        types: [file, python]
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        args: [--no-cache]
        language: system
        types: [file, python]
      - id: pymarkdown
        name: pymarkdown
        entry: poetry run pymarkdown scan
        language: system
        types: [file, markdown]

remove isort and black in favor of ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

initial working version of metadata and download features
  Makefile
  data/metadata.csv
  poetry.lock
  src/config.csv
  src/download/__init__.py
  src/download/__main__.py
  src/download/utils.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

fix typo in Makefile
  Makefile
Due: none

fix byte to string conversion
  src/download/utils.py
Due: ruff-lint, ruff-format

add ability to download only from ISO3 list set in ENV
  .env.example
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/download/utils.py
Due: ruff-lint, ruff-format

increase tenacity of downloads
  data/metadata.csv
  src/download/__main__.py
  src/download/utils.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

add .env.example documentation
  .env.example
Due: none

separate service from layer retries
  data/metadata.csv
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

add tenacity to downloads
  src/download/__main__.py
  src/download/utils.py
Due: ruff-lint, ruff-format

allow ITOS services without HDX URL
  src/metadata/__main__.py
Due: ruff-lint, ruff-format

update metadata sheet reflecting removed JPN layers
  data/metadata.csv
Due: none

ensure output directory exists
  Dockerfile
  src/metadata/__main__.py
Due: ruff-lint, ruff-format

add documentation to README about running Docker
  README.md
Due: pymarkdown

update project to support downloading without gdal
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  src/download/__main__.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/download/utils.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format, pymarkdown

fix to keep timezones as UTC
  src/download/httpx.py
Due: ruff-lint, ruff-format

move all OGR config to environ
  src/download/ogr2ogr.py
  src/download/utils.py
Due: ruff-lint, ruff-format

Added main table formatting logic
  .pre-commit-config.yaml
  pyproject.toml
  src/main.py
  src/table_data_formatting.py
  tests/table_data_formatting/__init__.py
Due: ruff-lint, ruff-format

add additional error checks to prevent partially downloaded files
  README.md
  src/download/httpx.py
  src/download/ogr2ogr.py
Due: ruff-lint, ruff-format, pymarkdown

reset result after each offset attempt
  src/download/httpx.py
Due: ruff-lint, ruff-format

reduce memory needed to save files with httpx
  src/download/httpx.py
Due: ruff-lint, ruff-format

Added tests for first function
  tests/table_data_formatting/test_table _data_formatting.py
Due: ruff-lint, ruff-format

Fix failing test
  tests/table_data_formatting/test_table _data_formatting.py
  tests/table_data_formatting/test_table_data_hierarchy.py
Due: ruff-lint, ruff-format

Add tests and comments
  src/table_data_formatting.py
  tests/table_data_formatting/test_table _data_formatting.py
  tests/table_data_formatting/test_table_data_hierarchy.py
Due: ruff-lint, ruff-format

update README
  README.md
Due: pymarkdown

increase timeout for metadata
  src/metadata/utils.py
Due: ruff-lint, ruff-format

incease timeout for metadata check
  src/metadata/utils.py
Due: ruff-lint, ruff-format

remove data checks from metadata
  data/metadata.csv
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

retry download with tenacity if valid polygon was not downloaded
  src/download/ogr2ogr.py
Due: ruff-lint, ruff-format

add docstring documentation to functions in google style, add ruff checks for docstrings
  pyproject.toml
  src/download/__init__.py
  src/download/__main__.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/download/utils.py
  src/metadata/__init__.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

finish adding documentation to functions
  Dockerfile
  data/boundaries/.gitignore
  data/metadata.csv
  data/tables/.gitignore
  docker-compose.yml
  src/download/__init__.py
  src/download/__main__.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/download/utils.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

fix path locations for tables and boundaries
  pyproject.toml
  src/download/__init__.py
  src/download/__main__.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/download/utils.py
  src/metadata/__init__.py
  src/metadata/__main__.py
Due: ruff-lint, ruff-format

add back step of attempting download without pagination after performance testing
  src/download/httpx.py
  src/download/ogr2ogr.py
Due: ruff-lint, ruff-format

remove uneeded __init__ files.
  src/__init__.py
  src/download/config.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/download/utils.py
  src/metadata/__main__.py
  src/metadata/config.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format

Feature: Data Download (#3)
  .env.example
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  data/boundaries/.gitignore
  data/tables/.gitignore
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/__main__.py
  src/download/__main__.py
  src/download/config.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/download/utils.py
  src/metadata/__main__.py
  src/metadata/config.py
  src/metadata/getters.py
  src/metadata/utils.py
Due: ruff-lint, ruff-format, pymarkdown

Updated table data completeness to use geopands
  Makefile
  src/__main__.py
  tests/table_data_completeness/test_completeness.py
Due: ruff-lint, ruff-format

initial commit for suggested entrypoints
  Makefile
  poetry.lock
  pyproject.toml
  src/__main__.py
  src/checks/__main__.py
  src/checks/dates.py
  src/checks/languages.py
  src/checks/table_data_completeness.py
  src/config.py
  src/download/__main__.py
  src/download/config.py
  src/download/httpx.py
  src/download/ogr2ogr.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/metadata/join.py
  src/scores/__main__.py
  src/utils.py
  tests/table_data_completeness/test_completeness.py
Due: ruff-lint, ruff-format

add separate timeouts for normal requests and downloads
  src/config.py
  src/download/httpx.py
  src/metadata/__main__.py
  src/metadata/getters.py
  src/utils.py
Due: ruff-lint, ruff-format

support argparser for ISO3 codes
  .env.example
  Dockerfile
  src/config.py
  src/utils.py
Due: ruff-lint, ruff-format

add docstring comments to functions.
  poetry.lock
  src/__main__.py
  src/checks/__main__.py
  src/checks/dates.py
  src/checks/languages.py
  src/scores/__main__.py
Due: ruff-lint, ruff-format

change checks from mutating functions to returning results for better testing.
  src/checks/__main__.py
  src/checks/dates.py
  src/checks/languages.py
Due: ruff-lint, ruff-format
